<!DOCTYPE html>
<html>

<body>
    <hr />
    <img src="https://globalmediakit.com/assets/images/logo.png" alt="" style="width: 220px;">
    <hr />
    <div style="background: #f1f1f1;padding: 5px 15px;">
        <p>
            Hi {{AdvertiserName}}, 
            <br/>
            We have noticed that your media cart wasn't empty when you left Global Media Kit. Don't worry the ad opportunities you have selected have been saved.  
            <br/>
            However, we recommend that you proceed with the media plan at the earliest as the availability and current rates are not guaranteed. 
            <br/>  
            <a href="https://globalmediakit.com/advertiser/media-cart">Take me to Media Cart<a/>           
        </p>
        <p>
            {{BestRegrads}}
        </p>
    </div>
</body>

</html>