<!DOCTYPE html>
<html>

<body>
    <hr />
    <img src="https://globalmediakit.com/assets/images/logo.png" alt="" style="width: 220px;">
    <hr />
    <div style="background: #f1f1f1;padding: 5px 15px;">
        <p>
            Dear Admin, 
            <br/>
            <br/>

            This is to notify you that a new advertiser has signed up to Global Media Kit. 
            <br/>

            <br/>
            The advertiser details are as follows: 
            <br/>

            Name: {{AdvertiserName}}
            <br/>

            Business Email: {{BusinessMailId}}
            <br/>

            City: {{City}}
            <br/>

            Country: {{Country}}
            <br/>
        </p>
        <p>
            {{BestRegrads}}
        </p>
    </div>
</body>

</html>