<!DOCTYPE html>
<html>

<body>
    <hr />
    <img src="https://globalmediakit.com/assets/images/logo.png" alt="" style="width: 220px;">
    <hr />
    <div style="background: #f1f1f1;padding: 5px 15px;">
        <p>
            Hi, 
            <br/> 
            You have successfully signed up to Global Media Kit. 
            <br/> 
            We have built Global Media Kit to help you browse the top ad opportunities, create super-quick media plans and launch impactful campaigns globally. 
            <br/> 
            As our welcome offer, we have credited {{CreditCount}} Ad Credits to your account. With Ad Credits, you can check the booking rates of ad opportunities, view Media Kits, avail of expert ad support and premium assistance, and do more. 
            <br/> 
            Looking forward to help you launch successful campaigns globally. 
        </p>
        <p>
            {{BestRegrads}}
        </p>
    </div>
</body>

</html>