<!DOCTYPE html>
<html>

<body>
    <hr />
    <img src="https://globalmediakit.com/assets/images/logo.png" alt="" style="width: 220px;">
    <hr />
    <div style="background: #f1f1f1;padding: 5px 15px;">
        <p>
            Dear {{AdvertiserName}}, 
            <br/>
            <br/>
            Your request for Ad Credits has been processed, and your account has been credited with {{CreditNumber}}  Ad Credits. You can now use these Ad Credits to discover advertising rates, access Ad Support, download media plans and do much more.
            <br/>
            
            If you have any questions or concerns about using your Ad Credits or need any other assistance, please feel free to contact us at cs@globalmediakit.com.
            <br/>
            
            We are always happy to assist you!   
        </p>
        <p>
            {{BestRegrads}}
        </p>
    </div>
</body>

</html>