<!DOCTYPE html>
<html>

<body>
    <hr />
    <img src="https://globalmediakit.com/assets/images/logo.png" alt="" style="width: 220px;">
    <hr />
    <div style="background: #f1f1f1;padding: 5px 15px;">
        <p>
            Dear {{PublisherName}}, 
            <br/> 
            Congrats! Your listing {{MediaName}} {{OpportunityName}} has been activated. 
                <br/>  
                <br/> 
                This listing will now be visible to our advertisers worldwide. Keep your tabs on the Media Service Dashboard to get notified on the enquiries for the ad opportunity.
                
                    
            <br/>
        </p>
        <p>
            {{BestRegrads}}
        </p>
    </div>
</body>

</html>