<!DOCTYPE html>
<html>

<body>
    <hr />
    <img src="https://globalmediakit.com/assets/images/logo.png" alt="" style="width: 220px;">
    <hr />
    <div style="background: #f1f1f1;padding: 5px 15px;">
        <p>
            Dear {{PublisherName}}, 
            <br/> 
                Greetings from Global Media Kit! 
                <br/> 
                We have received your listing and it is under review. The status of your listing will be displayed on the Add/Edit listing module on your dashboard. 
                <br/> 
                Upon review, we will notify you on the status of your listing. Feel free to list more of your ad opportunities and services.
                <br/> 
                Have a great day ahead :)
                    
            <br/>
        </p>
        <p>
            {{BestRegrads}}
        </p>
    </div>
</body>

</html>