<!DOCTYPE html>
<html>

<body>
    <hr />
    <img src="https://globalmediakit.com/assets/images/logo.png" alt="" style="width: 220px;">
    <hr />
    <div style="background: #f1f1f1;padding: 5px 15px;">
        <p>
            Dear Admin, 
            <br/>
            
            {{PublisherName}} has created a media and ad opportunity listing on Global Media Kit. 
            <br/>
            <br/>
            The details are as follows:
            <br/>
            •	Media Type: {{MediaType}}
            <br/>
            •	Media Name: {{MediaName}}
            <br/>
            Kindly review the listing for compliance to our guidelines and take the next appropriate action.
         
            <br/>
        </p>
        <p>
            {{BestRegrads}}
        </p>
    </div>
</body>

</html>