<!DOCTYPE html>
<html>

<body>
    <hr />
    <img src="https://globalmediakit.com/assets/images/logo.png" alt="" style="width: 220px;">
    <hr />
    <div style="background: #f1f1f1;padding: 5px 15px;">
        <p>
            Dear {{PublisherName}}, 
            <br/> 
            We are sorry to let you know that your listing has been rejected as it doesn't meet our guidelines. Don't worry! Our support team will get in touch with you shortly to get this resolved. 
                    
            <br/>
            If you have any questions or need assistance, please don't hesitate to email us at cs@globalmediakit.com
            
                    
            <br/>
        </p>
        <p>
            {{BestRegrads}}
        </p>
    </div>
</body>

</html>