<!DOCTYPE html>
<html>

<body>
    <hr />
    <img src="https://globalmediakit.com/assets/images/logo.png" alt="" style="width: 220px;">
    <hr />
    <div style="background: #f1f1f1;padding: 5px 15px;">
        <p>
            Dear {{PublisherName}}, 
            <br/>
            This is to let you know that it's been 48 hours since an advertiser submitted the media plan {{PlanName}} for your approval. Please review the media plan, update the details if necessary and approve so that the advertiser may proceed with booking the media plan. 
            <br/>
            If the proposed start date is unavailable, you can recommend alternative dates to set the campaign schedule. 
            <br/>
            Hope you will take quick action so that we can help you convert every lead to booking.     
            <br/>
        </p>
        <p>
            {{BestRegrads}}
        </p>
    </div>
</body>

</html>