<!DOCTYPE html>
<html>

<body>
    <hr />
    <img src="https://globalmediakit.com/assets/images/logo.png" alt="" style="width: 220px;">
    <hr />
    <div style="background: #f1f1f1;padding: 5px 15px;">
        <p>
            Dear {{AdvertiserName}}, 
            <br/>
            <br/>
                We are happy to inform you that your selected ad opportunity {{OpportunityName}} has been successfully booked.
                    <br/>  
                Now, you can move ahead to share your campaign creatives for review of the Media Service Provider.
                <br/>  
                In the meantime, you can also explore ad opportunities and plan for your next ad campaigns.

                <br/>  
                <br/>  
                

        </p>
        <p>
            {{BestRegrads}}
        </p>
    </div>
</body>

</html>