<!DOCTYPE html>
<html>

<body>
    <hr />
    <img src="https://globalmediakit.com/assets/images/logo.png" alt="" style="width: 220px;">
    <hr />
    <div style="background: #f1f1f1;padding: 5px 15px;">
        <p>
            Dear Admin, 
            <br/>
                
            This is to bring to your notice that <Advertiser Name> has created a media plan {{PlanName}} and sent to {{MediaName}} for approval.  
            <br/>
            The media plan details are as follows:  
            <br/>
            Media Plan Name: {{PlanName}} 
            <br/>
            Tentative Start Date: {{StartDate}}
            <br/>
            <br/>
            Please enter the details in CRM on priority and action on this enquiry ASAP.
        </p>
        <p>
            {{BestRegrads}}
        </p>
    </div>
</body>

</html>