<!DOCTYPE html>
<html>

<body>
    <hr />
    <img src="https://globalmediakit.com/assets/images/logo.png" alt="" style="width: 220px;">
    <hr />
    <div style="background: #f1f1f1;padding: 5px 15px;">
        <p>
            Hi {{AdvertiserName}}, 
            <br/>
            <br/>
            Congratulations!  
            <br/>
            <br/>
            Your media plan {{PlanName}} has been successfully submitted for approval.  
            <br/>
            <br/>
            The media plan is currently being reviewed by your media partner. You can check the status of the media plan from your Smart Campaign Dashboard.  
            <br/>
            Be assured that our team is working hard from the get-go to help you book the media plan and activate your campaign.  
            <br/>
            <br/>
            Meanwhile, you may also search for other recommended ad opportunities for your next ad campaign. 
        </p>
        <p>
            {{BestRegrads}}
        </p>
    </div>
</body>

</html>