<!DOCTYPE html>
<html>

<body>
    <hr />
    <img src="https://globalmediakit.com/assets/images/logo.png" alt="" style="width: 220px;">
    <hr />
    <div style="background: #f1f1f1;padding: 5px 15px;">
        <p>
            Dear {{PublisherName}}, 
            <br/> 
            <br/>
            We are pleased to inform you that the media plan {{PlanName}} has been approved by the advertiser and they would like to proceed with the campaign as outlined in the plan.
            
            <br/>
            We will shortly proceed with the payments and get in touch with you for booking.
            
            <br/>
            Thank you for your efforts in reviewing the media plan. We appreciate your input and look forward to working with you to execute this successful campaign.
            <br/> 
            <br/>
        </p>
        <p>
            {{BestRegrads}}
        </p>
    </div>
</body>

</html>