<!DOCTYPE html>
<html>

<body>
    <hr />
    <img src="https://globalmediakit.com/assets/images/logo.png" alt="" style="width: 220px;">
    <hr />
    <div style="background: #f1f1f1;padding: 5px 15px;">
        <p>
            Dear {{PublisherName}}, 
            <br/> 
            <br/>
            I hope this email finds you well. You have received a new campaign request.
            <br/> 
            <br/>
            The media plan details are as follows:
            <br/> 
            Media Plan Name: {{PlanName}}
            <br/>
            Tentative Start Date: {{StartDate}}
            <br/>
            <br/>
            
            You can now review the media plan, check campaign schedule for availability, suggest alternate dates, if necessary, update rates, offer discounts and send the plan back to advertiser for their confirmation, from your Smart Campaign Dashboard.
            <br/>
            We would greatly appreciate your prompt attention to this enquiry. 
            <br/>
            Thank you for your time and assistance.
            <br/>
            <br/>  
        </p>
        <p>
            {{BestRegrads}}
        </p>
    </div>
</body>

</html>