<!DOCTYPE html>
<html>

<body>
  <table style="
        width: 100%;
        border-top: 1px solid rgb(151, 151, 151);
        border-bottom: 1px solid rgb(143, 143, 143);
        padding: 6px 0;
        margin-bottom: 10px;
      ">
    <tr>
      <td>
        <img src="https://globalmediakit.com/assets/images/logo.png" alt="" style="width: 245px" />
      </td>
    </tr>
  </table>

  <table style="background: #f1f1f1; padding: 5px 15px; width: 100%">
    <tr>
      <td>
        <p style="font-size: 18px">
          Hi {{AdvertiserName}},
          <br />
          Great news! Your Media Plan {{PlanName}} has been created
          successfully!
          <br />
          <br />
          Please click on the link below to access your Media Plan.
          <a href="{{PlanLink}}" style="
                background: #f7951d;
                color: #fff;
                box-shadow: -2px 3px 8px -1px #f7951d;
                padding: 5px 10px;
                text-decoration: none;
                border-radius: 5px;
                margin-top: 29px;
              ">
            View plan
          </a>
          <br />
          <br />
          Kindly proceed with the estimate to send your media plan for
          approval. After your campaign schedule is approved, our global media
          consultants will get in touch with you to support with the booking
          your campaign.
          <br />
          We are happy to help you in each stage of your campaign journey!
        </p>
        <p>{{BestRegrads}}</p>
      </td>
    </tr>
  </table>
</body>

</html>