<!DOCTYPE html>
<html>

<body>
    <hr />
    <img src="https://globalmediakit.com/assets/images/logo.png" alt="" style="width: 220px;">
    <hr />
    <div style="background: #f1f1f1;padding: 5px 15px;">
        <p>
            Dear {{AdvertiserName}},  
            <br/>
            <br/>
            Kindly note that our media experts have updated the details in your media plan {{PlanName}} and have shared it for your approval. Kindly review the plan and share your confirmation with us.
            <br/>
            <br/>
            Hoping to hear from you soon!
                
        </p>
        <p>
            {{BestRegrads}}
        </p>
    </div>
</body>

</html>