<!DOCTYPE html>
<html>

<body>
    <hr />
    <img src="https://globalmediakit.com/assets/images/logo.png" alt="" style="width: 220px;">
    <hr />
    <div style="background: #f1f1f1;padding: 5px 15px;">
        <p>
            Dear {{AdvertiserName}}, 
            <br/>
            <br/>
            As per your request, the media plan {{PlanName}} has been cancelled. We apologize for any inconvenience this may have caused and appreciate your understanding.
            <br/>
            You can start planning for a new campaign or let us know your requirements at cs@globalmediakit.com so, we can find a solution that meets your advertising needs.

            <br/>
            <br/>

        </p>
        <p>
            {{BestRegrads}}
        </p>
    </div>
</body>

</html>