<!DOCTYPE html>
<html>

<body>
    <hr />
    <img src="https://globalmediakit.com/assets/images/logo.png" alt="" style="width: 220px;">
    <hr />
    <div style="background: #f1f1f1;padding: 5px 15px;">
        <p>
            Hi {{AdvertiserName}}, 
            <br/>
            Your request for Premium Expert Assistance on your media plan - {{PlanName}} has been confirmed.
            <br/>
            Our team of experts are working to get you the {{PremiumExpertAssistanceNote}} on this media plan. 
            <br/>
            Please click on the link below to access your Media Plan.  
            <a href="{{PlanLink}}" style="
            background: #f7951d;
            color: #fff;
            box-shadow: -2px 3px 8px -1px #f7951d;
            padding: 5px 10px;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 29px;
        ">
                View plan
            </a> 
            <br/>
            <br/>
            Keep your eyes on your Smart Campaign Dashboard for further updates.
            <br/>      
        </p>
        <p>
            {{BestRegrads}}
        </p>
    </div>
</body>

</html>
    