<!DOCTYPE html>
<html>

<body>
    <hr />
    <img src="https://globalmediakit.com/assets/images/logo.png" alt="" style="width: 220px;">
    <hr />
    <div style="background: #f1f1f1;padding: 5px 15px;">
        <p>
            Dear Admin,
            <br/>
            {{AdvertiserName}} has opted for Premium Exert Assistance for {{PremiumExpertAssistanceNote}} on {{PlanName}}.
            <br/> 
            Let's make our best moves to deliver top-notch service to the advertiser as requested. 
   
        </p>
        <p>
            {{BestRegrads}}
        </p>
    </div>
</body>

</html>
    