<!DOCTYPE html>
<html>

<body>
    <hr />
    <img src="https://globalmediakit.com/assets/images/logo.png" alt="" style="width: 220px;">
    <hr />
    <div style="background: #f1f1f1;padding: 5px 15px;">
        <p>
            Dear Admin,
            <br/>
            <br/>
            {{AdvertiserName}} has cancelled the media plan - {{PlanName}}. Please get in touch with them to understand their requirements and help them with a new custom plan. 
           
            <br/>
            <br/>

        </p>
        <p>
            {{BestRegrads}}
        </p>
    </div>
</body>

</html>