<!DOCTYPE html>
<html>

<body>
    <hr />
    <img src="https://globalmediakit.com/assets/images/logo.png" alt="" style="width: 220px;">
    <hr />
    <div style="background: #f1f1f1;padding: 5px 15px;">
        <p>
            Hi, 
            <br/>
            We are so happy that you are here!
            <br/>
            As our welcome offer, we have activated 3 months of Professional plan on your account for free. With Professional Plan, you can list unlimited ad opportunities, add contact details of media representatives, schedule meetings with advertisers and do much more.  
        </p>
        <p>
            {{BestRegrads}}
        </p>
    </div>
</body>

</html>