<!DOCTYPE html>
<html>

<body>
    <hr />
    <img src="https://globalmediakit.com/assets/images/logo.png" alt="" style="width: 220px;">
    <hr />
    <div style="background: #f1f1f1;padding: 5px 15px;">
        <p>
            Dear Admin, 
            <br/>
            This is to notify you that a new Media Service Provider has signed up to Global Media Kit.  
            <br/> 
            <br/>
            The details are as follows:  
            <br/>
            Media Name: {{MediaName}}
            <br/>
            Media Group: {{MediaGroup}}
            <br/>
            Business Email: {{BusinessMailId}}
            <br/>
            Country: {{Country}}
        </p>
        <p>
            {{BestRegrads}}
        </p>
    </div>
</body>

</html>