<!DOCTYPE html>
<html>

<body>
    <hr />
    <img src="https://globalmediakit.com/assets/images/logo.png" alt="" style="width: 220px;">
    <hr />
    <div style="background: #f1f1f1;padding: 5px 15px;">
        <p>
            Hi, 
            <br/> 

            You are almost there! 
            <br/>

            Enter this code <b style="font-size: 20px;">{{code}}</b> on the sign-up page to verify and activate your account. 

            <br/>
            If you have any questions, send us an email to <b>cs@globalmediakit.com</b>
            <br/>
            We are extremely glad that you are here. 
        </p>
        <p>
            {{BestRegrads}}
        </p>
    </div>
</body>

</html>