<!DOCTYPE html>
<html>

<body>
    <hr />
    <img src="https://globalmediakit.com/assets/images/logo.png" alt="" style="width: 220px;">
    <hr />
    <div style="background: #f1f1f1;padding: 5px 15px;">
        <p>
            Hi {{AdvertiserName}}, 
            <br/>
            Great opportunities require prompt action! We've noticed that you have not taken any action for the Media Plan {{PlanName}} for 7 days.
            <br/>
            Kindly note that your plan will get automatically cancelled today and you will be unable to proceed with booking your campaign. 
            <br/>
            We recommend you to proceed with this plan by sending it for approval at the earliest, so that you may not miss out on amazing ad opportunities.            
        </p>
        <p>
            {{BestRegrads}}
        </p>
    </div>
</body>

</html>