<!DOCTYPE html>
<html>

<body>
    <hr />
    <img src="https://globalmediakit.com/assets/images/logo.png" alt="" style="width: 220px;">
    <hr />
    <div style="background: #f1f1f1;padding: 5px 15px;">
        <p>
            Hi {{AdvertiserName}}, 
            <br/>
            Here's a quick reminder that your Media Plan {{PlanName}} is still waiting to be finalized. 
            <br/>
            Kindly send the media plan for approval and continue with the campaign planning.  
            <br/>
            Hope you will make a quick decision as this media plan will expire soon.           
        </p>
        <p>
            {{BestRegrads}}
        </p>
    </div>
</body>

</html>