<!DOCTYPE html>
<html>
    <head>
        <title>Estimate</title>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;515;600;700&display=swap" rel="stylesheet">
        <style>
         html { -webkit-print-color-adjust: exact; } 
         body{
            font-family: Quicksand,sans-serif;
            font-size: 13px;
            line-height: 1.5;
            font-weight: 500;
         }
         table {
            border-collapse: collapse;
            width: 100%;
            margin: 0 auto;
            position: relative;
        }
        img {
            width: 100%;
        }
        h1, h2, h3{
            margin: 0;
        }
        
        </style>
    </head>
    <body>
        <div class="estimate-design" style="font-size: 13px;padding: 30px;">
            <table>
                <tr style="width: 100%;">
                    <td style="width: 20%;">
                        <img src="https://s3.ap-south-1.amazonaws.com/api-hosting-gmk/76ee7032240d4b32a07cce338ef19a7c/Logo/GMK_FILE_DATA_SERVICE/Logo/1640858734315masscom_logo.png" style="width:100%"  />
                    </td>
                    
                    <td style="text-align: right;">
                        <h1><span style="font-size: 30px;font-weight: bold;"> Invoice </span></h1>
                        <p style="font-weight: 600;font-size: 15px;"># INV-000001</p>
                    </td>
                </tr>
            </table>
            <table style="width: 100%;">
                <tr>
                    <td style="
                    vertical-align: baseline;
                    width: 30%;">
                    <h1 style="font-size: 18px;margin: 0;font-weight: bold;">Masscom Global FZE</h1>
                        <p style="line-height: 1.5; font-size: 13px;
                        margin-top: 0;">
                        
                        Office Number 220<br />
                        One UAQ Building<br />
                        Umm al-Quwain 7072<br />
                        United Arab Emirates<br />
                        +971-43827760<br />
                        finance@masscomglobal.com<br />
                        TRN100346873100003</p>
                    </td>
                </tr>
                <tr>
                    <td style="
                    vertical-align: baseline;
                    width: 30%;">
                    <h1 style="font-size: 18px;margin: 0;font-weight: bold;">Bill To</h1>
                        <p style="line-height: 1.5; font-size: 13px;
                        margin-top: 0;">
                        
                        Cubexizsoft Technologies<br />
                        Kottayam<br />
                    </td>
                    <td></td>
                    <td style="text-align: right;width: 30%;">
                        <p style="line-height: 1.5;margin-top: 0;font-size: 13px;">   
                            Plan Name : Flow test<br />
                            Invoice Date : 01/01/2023<br />
                            Due Date :  25/01/2023
                        </p>
                        
                    </td>
                </tr>
            </table>


            <div class="main-box">



                <div class="item-list">
                    <table style="width: 100%;margin-bottom: 0px;">
                        <tr style="width: 35%;padding: 10px 6px;background: #f1f1f1;text-align: left;">
                            <th style="width: 35%;
                            padding: 10px 6px;"><b>Media Details</b></th>
                            <th style="padding: 10px 6px;width: 10%;font-size: 12px;text-align: center;"><b>Quantity</b></th>
                            <th style="padding: 10px 6px;width: 10%;font-size: 12px;text-align: center;"><b>Rate</b></th>
                            <th style="padding: 10px 6px;width: 10%;font-size: 12px;text-align: center;"><b>Discount</b></th>
                            <th style="padding: 10px 6px;width: 10%;font-size: 12px;text-align: center;"><b>Local Tax</b></th>
                            <th style="padding: 10px 6px;width: 10%;font-size: 12px;text-align: center;"><b>Amount</b></th>
                        </tr>
                        <tr style="border-bottom: 1px solid #d1d1d1">
                            <td style="width: 35%;padding: 10px 6px;">
                                <p>
                                    Sharjah - Arrival baggage claim area - Sharjah International Airport - Cinemas - United Arab Emirates- - Out of home - Adunit
                                </p>
                            </td>
                            <td style="width: 10%;padding: 10px 6px;text-align: center;" >1</td>
                            <td style="width: 10%;padding: 10px 6px;text-align: center;">USD 1500</td>
                            <td style="width: 10%;padding: 10px 6px;text-align: center;">10%</td>
                            <td style="width: 10%;padding: 10px 6px;text-align: center;">5%</td>
                            <td style="width: 10%;padding: 10px 6px;text-align: center;">USD2000</td>
                        </tr>
                        <tr style="border-bottom: 1px solid #d1d1d1">
                            <td style="width: 35%;padding: 10px 6px;">
                                <p>
                                    Sharjah - Arrival baggage claim area - Sharjah International Airport - Airport - United Arab Emirates- - Out of home - Package
                                </p>
                            </td>
                            <td style="width: 10%;padding: 10px 6px;text-align: center;" >1</td>
                            <td style="width: 10%;padding: 10px 6px;text-align: center;">USD 1500</td>
                            <td style="width: 10%;padding: 10px 6px;text-align: center;">10%</td>
                            <td style="width: 10%;padding: 10px 6px;text-align: center;">5%</td>
                            <td style="width: 10%;padding: 10px 6px;text-align: center;">USD2000</td>
                        </tr>
                    </table>
                    <table style="width: 100%;">
                        <tr>
                            <td colspan="6" style="text-align: right;padding: 2px 0;">
                                Sub Total : 4000
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6" style="text-align: right;padding: 2px 0;">
                                Standard Rate (5%): 1500
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6" style="text-align: right;padding: 0px 0;">
                                <b>Total: 5500</b>
                            </td>
                        </tr>
                        
                    </table>
                    
                </div>
                <div class="tax-summery">
                    <h1 style="font-size: 16px;margin-bottom: 10px;">Tax Summary</h1>
                    <table style="width: 100%;margin-bottom: 0px;">
                        <tr style="width: 35%;padding: 10px 6px;background: #f1f1f1;text-align: left;">
                            <th style="width: 40%;
                            padding: 10px 6px;"><b>Tax Details</b></th>
                            <th style="padding: 10px 6px;width: 30%;font-size: 12px;text-align: right;"><b>Taxable Amount (AED)</b></th>
                            <th style="padding: 10px 6px;width: 30%;font-size: 12px;text-align: right;"><b>Tax Amount (AED)</b></th>
                        </tr>
                        <tr style="border-bottom: 1px solid #d1d1d1">
                            <td style="width: 35%;padding: 10px 6px;">
                                Standard Rate (5%) 
                            </td>
                            <td style="width: 10%;padding: 10px 6px;text-align: right;" >2,100.00</td>
                            <td style="width: 10%;padding: 10px 6px;text-align: right;">105.00</td>
                        </tr>
                        <tr style="border-bottom: 1px solid #d1d1d1">
                            <td style="width: 35%;padding: 10px 6px;">
                                <b>Total </b>
                            </td>
                            <td style="width: 10%;padding: 10px 6px;text-align: right;" ><b>AED2,100.00</b></td>
                            <td style="width: 10%;padding: 10px 6px;text-align: right;"><b>AED105.00</b></td>
                        </tr>
                    </table>
                </div>

                <!-- <div class="paiment-list">
                    <p><b>Payment Advise</b></p>
                    <p>Kindly note our payment details for EFT/Direct deposits:</p>

                    <table style="
                    border: 1px solid silver;
                    border-radius: 10px;
                    padding: 15px 21px;
                    width: auto;
                    margin: 0;
                    position: relative;
                    margin-bottom: 40px;
                    border-collapse: separate;">
                        <tr>
                            <td style="
                            padding-left: 15px;
                            padding-top: 15px;">
                                <p style="margin: 0;"><u><b>AED Account </b></u></p>
                                <p>Account name: Masscom Global FZE</p> 
                                <p>Bank: Rakbank</p>
                                <p>Swift Code: NRAKAEAK</p>
                                <p>AED Account No: 0192498258001</p>
                                <p>IBAN No: AE830400000192498258001</p>
                            </td>
                            <td style="width: 20%;"></td>
                            <td>
                                <p style="margin: 0;"><u><b>USD Account </b></u></p>
                                <p>Account name: Masscom Global FZE</p> 
                                <p>Bank: Rakbank</p>
                                <p>Swift Code: NRAKAEAK</p>
                                <p>USD Account No: 0192498258002</p>                       
                                <p>IBAN No: AE560400000192498258002</p>
                            </td>
                        </tr>
                    </table>
                </div>


                <div class="invoice-note">
                    <p style="margin-bottom: 0;"><b><u>Notes</u></b></p><br />
                    <ol style="margin: 0;">
                        <li>
                            Personal assistance will be provided for entire campaign management once payment is confirmed. 
                        </li>
                        <li>
                        The payment terms for all media bookings should be made 100% in advance. 
                    </li>
                    <li>
                        All bank charges are to be borne by payee. 
                    </li>
                    <li>
                        The media booking rates provided are inclusive of all local taxes applicable in their respective countries. 
                    </li>
                    <li>
                        This is a system generated estimate for payment processing and valid for 7 days only. 
                    </li>
                    <li>
                        The billing companies registered in the United Arab Emirates and other GCC countries (wherever VAT is applicable) are mandatorily required to provide VAT Registration Certificate and Trade License copy for invoicing purposes.
                    </li>
                    <li>
                        All UAE companies can make payment in AED to Masscom Global FZE which is a UAE-company to avoid conversion charges. 
                    </li>
                    <li>
                        The bookings will be confirmed only after the creatives are approved by the Media Owners which are subject to approval as per local advertising rules. 
                    </li>
                    <li>
                        The current cost does not include any type of creative production or consultancy charges. 
                    </li>
                    <li>
                            Only e copies/scan copies will be provided as proof of publishing. If original voucher copies are needed, courier charges will be charged at actual 
                    </li>
                    <li>
                        Masscom Global FZE, UAE is the authorized billing company for Global Media Kit.
                    </li>




                        
                    </ol>
                    <br />
                    <p style="margin-bottom: 0;"><b><u>Masscom Global - Standard Terms & Conditions (Updated on 04.02.2021)</u></b></p><br />
                    <ol style="margin: 0;">
                        <li>CANCELLATION AND TERMINATION</li>
                        <p>
                            The Customer may cancel an advertising campaign under the Agreement by giving notice in writing
                            to
                            the Media Owner before the relevant advertising Period Start Date, in which case the
                            cancellation
                            will be on the following basis;
                        </p>
                        <p>
                            Provided the Customer has given written notice of cancellation, the Customer will be liable to
                            pay a
                            proportion of the Fee as set out below;
                        </p>
                        <p>
                            Notice of cancellation is provided before 60 days from the start date of the campaign; 50% of
                            the
                            Fee is due; plus payment of any production costs incurred by the Media Owner.
                        </p>
                        <p>
                            Notice of cancellation is provided before 45 days from the start date of the campaign 80% of the
                            Fee
                            is due; plus payment of any production costs incurred by the Media Owner.
                        </p>
                        <p>
                            Notice of cancellation is provided before 30 days from the start date of the campaign; 100% of
                            the
                            Fee is due; plus payment of any production costs incurred by the Media Owner.
                        </p>
                        <p>
                            If the customer fail to provide the advertisement creatives before deadlines (7 days for TV,
                            Radio, Newspaper, Online, 30 days for Magazines and 21 days for Outdoor) as
                            per the guidelines of respective media owners, 100% cancellation charges will be applicable and
                            no refund will be provided.
                        </p>
                        <p>
                            In regards to natural disasters or any other unexpected situation out-with our control, all
                            charges
                            due including production costs media booking costs, and cancellation charges which is
                            linked to the respective agreement, if any will be charged to the customer unless otherwise
                            agreed
                            mutually.
                        </p>
                        <br />
                        <li>
                            CONFIDENTIALITY
                        </li>
                        <p>
                            Each party will maintain the confidentiality of the other party's Confidential Information and
                            shall
                            not, without the prior written consent of the other, use, disclose, copy or modify the other
                            party's
                            Confidential Information other than as necessary for the performance of its rights and
                            obligations
                            under the Agreement or in order to comply with its legal, statutory or regulatory obligations.
                            "Confidential Information"shall mean in relation to the other party, information (whether in
                            oral,
                            written or electronic form) belonging or relating to that party, its business affairs or
                            activities
                            which is not in the public domain and which is marked as confidential or proprietary; the
                            receiving
                            party is advised is of a confidential nature; or due to its character or nature, a reasonable
                            person
                            in a similar position under similar circumstances would treat as confidential.
                        </p>
                    </ol>
                    <br />

                </div> -->

            </div>
        </div>

    </body>
</html>